.config/btop/btop.log
.config/atuin/atuin-receipt.json
.config/obsidian
.config/dconf
.config/gh/hosts.yml

.config/fish/conf.d
.config/fish/fish_variables

.config/go

.config/mozilla
.config/BraveSoftware
.config/Throne/

.config/nekoray
.config/pulse
.config/pypoetry

.config/clipse/clipboard_history.json
.config/clipse/clipse.log
.config/clipse/tmp_files

.config/bruno/
.config/chromium/
.config/libreoffice/

.config/nvim/lua/plugins/mason.lua
.config/nvim/lazy-lock.json

.config/QtProject.conf
