.config/btop/btop.log
.config/atuin/atuin-receipt.json
.config/nvim/lua/plugins/mason.lua
.config/gh/hosts.yml
.config/go
.config/nvim/lazy-lock.json
.config/fish/conf.d
.config/obsidian
.config/dconf
