.config/btop/btop.log
.config/atuin/atuin-receipt.json
.config/obsidian
.config/dconf
.config/gh/hosts.yml

.config/fish/conf.d
.config/fish/fish_variables
.config/nushell/history.txt

.config/go

.config/mozilla
.config/BraveSoftware
.config/Throne/
.config/qBittorrent/

.config/nekoray
.config/pulse
.config/pypoetry

.config/clipse/clipboard_history.json
.config/clipse/clipse.log
.config/clipse/tmp_files

.config/bruno/
.config/chromium/
.config/libreoffice/

.config/nvim/lua/plugins/mason.lua
.config/nvim/lazy-lock.json

.config/QtProject.conf

.config/AFFiNE

.config/environment.d
.config/fontconfig
.config/obs-studio/
.config/systemd/
.config/xdg-desktop-portal/

.claude/debug/
.claude/file-history/
.claude/plans/
.claude/plugins/
.claude/projects/
.claude/shell-snapshots/
.claude/stats-cache.json
.claude/statsig/
.claude/todos/
.claude/telemetry
.claude/cache
.claude/history.jsonl
.claude/.credentials.json

.config/zed/prompts
